*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    height: 30vw;
    width: 30vw;
    background: #000;
    border-radius: 50%;
    overflow: hidden;
}
.contact{
    height: 100vh;
    width: 100%;
    background: #EFEAE3;
    display: flex;
    padding: 3vw;
    align-items: end;
}
.contact-left{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 40%;
}
.contact-right{
    height: 80vh;
    width: 100%;
    padding: 0 8vw 0 0;
    position: relative;
}
.contact-right h5{
    font-size: 8vw;
    line-height: 8vw;
    text-align: end;
    color: #0b0500;
    text-transform: uppercase;
}
.contact-right a{
    position: absolute;
    right: 15%;
    font-size: 1vw;
    font-weight: bold;
    text-align: end;
    color: #0b0500;
    text-transform: uppercase;
}







.center-animation {
    position: absolute;
    top: 45%;
    left: 30%;
}

.ca-circle-1 {
    height: 20vw;
    position: absolute;
    width: 20vw;
    background: #FE330A;
    filter: blur(30px);
    border-radius: 50%;
    animation: anime1 5s ease-in-out alternate infinite;
}

.ca-circle-2 {
    position: absolute;
    left: 0;
    height: 20vw;
    width: 20vw;
    background: #FE330A;
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
    animation: anime2 5s ease-in-out alternate infinite;
}
@keyframes anime1 {
    from {
        transform: translate(20%, 5%);
    }

    to {
        transform: translate(-20%, -5%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(-20%, 20%);
    }

    to {
        transform: translate(20%, -20%);
    }
}
 
.ConElem h4{
    font-size: 2vw;
    line-height: 2vw;
    position: relative;
    top: 4vw;
    z-index: 3;
    left: 16%;
    padding: 1rem 0;
    width: 60%;
    font-weight: bold;
    border-bottom: .1px solid #0b0500;
}

::selection{
  background-color:#FE330A;
  color: #000;
}


